body, html{
	overflow-x:hidden;
    height: 100vh;
	background: linear-gradient(#a79052, #5c4617);
}

.listFilter {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}

.achats {
    padding: 25px;
}

.ventes {
    padding: 25px;
}

.navbar-links li {
    list-style: none;
}
