@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

body,html {
	overflow-x:hidden;
    height: 100vh;
	background: linear-gradient(#a79052, #5c4617);
	font-family: 'Poppins', sans-serif;
}

h1{
color: #fff;
}

.cont1 {
	display: flex;
	justify-content: center;
	height:150px;
}

.cont1 a{
	display: flex;
	justify-content: center;
	height:150px;
}

.cont1 h1{
	padding: 25px;
	font-size: 5em;
	align-self: center;
}

.cont2 {
	margin: 15px;
  	display : flex column;
  	justify-content: left;
  	width: 570px;
 	padding: 10px;
 	background: rgba(0,0,0,.5);
 	box-sizing: border-box;
 	box-shadow: 0 15px 25px rgba(0,0,0,.6);
 	border-radius: 10px;
}

.cont2 .titre{
	  color: #fff;
	display: flex;
	padding: 5px;
	font-size: 2em;
}

.cont2 .listFilter {
    display: flex;
    margin: 10px;
      color: #fff;
}

.cont2 .desc {
      color: #fff;
}

.cont2 .achats {
    padding: 25px;
}

.cont2 .ventes {
    padding: 25px;
}

.cont3 {
	padding: 20px;
}

.col{
	padding: 5px;
}
